<div class="jumbotron">
    <div class="container">
        <h1>About Digital Hive</h1>
        <h2>Our Mission</h2>
			<p>Digital Hive is committed to providing small businesses nationwide with custom digital solutions and targeted marketing services to help maximize their business and brand identity. We offer professional custom designed websites, email marketing, social media marketing, and search engine optimization. Digital Hive does not just build static websites. Our sites are pre-optimized to attract potential clients.</p>

			 
			<h2>Eco-Minded</h2>
			<p>Here at Digital Hive, we are 100% paperless. We do not mail paper invoices, nor do we print anything! We utilize companies like Quickbooks for bookkeeping and financial management and Shoeboxed for receipt organization to help us achieve our paperless status.</p>

			<p>Our office is outfitted with energy efficient Apple Products, including the Energy Star 5.0 compliant Mac Mini and Macbook Air, which are not only produced with minimal greenhouse gas emissions, packaged with eco-friendly products, but are also partially recyclable (although the though of actually recycling them makes us cringe)!</p>

			<p>Digital Hive only uses energy efficient hosting services. In fact, our favorite host just announced that their servers are now 130% wind powered. They are not only neutralizing their environmental impact, but reversing it!</p>

			<h2>About Me</h2>
			<p>Digital hive is owned and operated by me, Jennifer Mitchell. I'm a midwestern gal who is a self-proclaimed tech junkie. I have over 10 years design studio experience and I've had a long-time love affair with pixels. My passion is designing modern, clean websites and bringing them to life on the web.</p>
			<h2>Street Cred</h2>
			<p>Although my claim to fame is WordPress, I am also a long-time member of the Apple community and a certified iOS Developer and Android Developer. I have some serious Photoshop skills too, ya heard? Long before WordPress was a thing I was designing in HTML in Adobe Dreamweaver. That's how long Jenny's been on this block.</p>
    </div>
</div>