<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home"
        <div class="container">
            <h1>Welcome back!</h1>
        </div>
    </div>
    <% else %>
        <div class="jumbotron jumbotron-home"
            <div class="container">
                <h1>Welcome to Digital Hive</h1>
                <p>Beautiful Design for Small Businesses</p>
                <%= link_to "Learn more »", "#", class: "btn btn-primary btn-lg" %> 
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Web Sites</h2>
            <p>Digital Hive designs exclusively on the WordPress platform and has for the last 10 years. We know it inside and out. We are constantly evolving our knowledge and skill base based on the newest versions of WordPress and the latest themes. </p>
            <p><strong>Bonus!</strong> Digital Hive has a website for every budget. Hey, we're a small business too. We understand budget constraints and are good at working with clients to meet their needs while staying within their budget. We offer fully custom designed websites as well as pre-built professionally engineered designs. Whichever you choose, you'll be receiving a feature-rich and responsive website that will adapt to any device from desktop computers to mobile phones.</p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Search Engine Optimization</h2>
            <p>Search Engine Optimization, or SEO for short, is how your website gets found on Google and other search engines. If done right, this can be your best marketing tool because it can drive tons of traffic to your site. </p>
            <p>Because Google (of course the biggest search engine on the planet) is constantly updating is alghorithims on how they index sites and return results it's super important to optimize your your site properly for Google. And guess what? We're good at that too! Get a free analysis of how your site ranks! And hey, if it's not good...no sweat. Let us help you out with that. </p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Superb Customer Service</h2>
            <p>The biggest complaint we hear from new clients is that their previous web designer didn’t return emails or phone calls.</p>

            <p><strong>What’s up with that?</strong></p>

            <p>Digital Hive’s superb customer service and response time will knock your socks off.</p>

            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
    </div>
</div>
<% end %>