<div class="splash splash-page"
    <div class="container">
        <br>
        <br>
        <% if user_signed_in? %>
            <center><%= image_tag("welcome_back.png", :alt => "welcome back", class: "img-fluid") %></center>
        <% else %>
                <center><%= image_tag("welcome.png", :alt => "welcome to the bathroom wall", class: "img-fluid") %></center>
                <br>
                <br>
                <br>
        <div class="posts posts-background">
            <center><h6 class>The Bathroom Wall is a completely anonymous platform. </h6>
            <p>Do you have a secret or a rant that you have to get off your chest? </p>
            <p>Post it on the Bathroom Wall!</p></center>
        </div>
        <br>
        <br>
        <br>
        <%= link_to "Go to the Wall »", signin_path, class: "btn btn-primary btn-lg" %> 
        <br>
        <br>
        <br>
        <br>
        <br>
</div>
<% end %>