// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-home {
    background-image: url(image_path('home-bg.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.posts-home {
	background-image: url(image_path('graffiti.jpg'));
	background-repeat: no-repeat;
	background-position: center center;
    background-size: cover;
}

.posts-background {
	background-color: white;
	Padding: 10px
}